@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<!-- Desde aqui pasa el html con el CSS *Prueba*-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>

    .body {
      margin: 0;
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;            
    }

    /* CSS for header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f5f5;
    }

    .header .logo {
      font-size: 25px;
      font-family: 'Sriracha', cursive;
      color: #000;
      text-decoration: none;
      margin-left: 30px;
    }

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f5f5f5;
      margin-right: 20px;
    }

    .nav-items a {
      text-decoration: none;
      color: #000;
      padding: 35px 20px;
    }

    /* CSS for main element */
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 520px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://cdn.wallpapersafari.com/17/58/XfsCnx.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .intro h1 {
      font-family: sans-serif;
      font-size: 60px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .intro p {
      font-size: 20px;
      color: #d1d1d1;
      text-transform: uppercase;
      margin: 20px 0;
    }

    .intro button {
      background-color: #5edaf0;
      color: #000;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
    }

    .achievements {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .achievements .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .achievements .work i {
      width: fit-content;
      font-size: 50px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 12px;
    }

    .achievements .work .work-heading {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .achievements .work .work-text {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    .about-me {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      border-top: 2px solid #eeeeee;
    }

    .about-me img {
      width: 500px;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .about-me-text h2 {
      font-size: 30px;
      color: #333333;
      text-transform: uppercase;
      margin: 0;
    }

    .about-me-text p {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    /* CSS for footer */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
            background-color: #942929;
      padding: 40px 80px;
    }

    .footer .copy {
      color: #fff;
    }

    .bottom-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 0;
    }

    .bottom-links .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .bottom-links .links span {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .bottom-links .links a {
      text-decoration: none;
      color: #a1a1a1;
      padding: 10px 20px;
    }
  </style>
</head>

<body>
  <main>
    <div class="intro">
      <h1>HYPE - StreetWear</h1>
      <p>Viste a tu estilo unico</p>
    </div>
        <div class="achievements">
            <div class="work">
                <i class="fas fa-atom"></i>
                <p class="work-heading">Quienes Somos</p>
                <p class="work-text">Somos la primera página web en el Ecuador en la que puedes vender tus zapatos de alta gama a los mejores precios del mercado.</p>
            </div>
            <div class="work">
                <i class="fas fa-skiing"></i>
                <p class="work-heading">Objetivo</p>
                <p class="work-text">El objetivo principal es que nuestros usuarios puedan ofertar y comprarar zapatos Unicos en su existencia.</p>
            </div>
            <div class="work">
                <i class="fas fa-ethernet"></i>
                <p class="work-heading">Nuestro trabajo</p>
                <p class="work-text">Trabajamos solo con marcas y productos exclusivas y originales.</p>
            </div>
        </div>
    <div class="about-me">
      <div class="about-me-text">
                <h2>Force 1 x Virgil Abloh de Louis Vuitton</h2>
                <p>Un diseño en el que el director creativo se afanó hasta escasos días antes de su prematura muerte a los 44 años. De hecho, esta colección fue ideada por él mismo para la colección masculina primavera-verano 2022 de la maison. Un hito en su carrera que en unos días verá la luz en clave solidaria. Esta edición limitada de 1 par de sneakers estará disponible. Tendrán un precio de salida de 999.99 euros </p>
                <a class="nav-link text-black" asp-area="" asp-controller="Zapatos" asp-action="Index" style="color:white">Ir al catalogo</a>
      </div>
      <div>
                <img src="https://scontent.fgye1-2.fna.fbcdn.net/v/t39.30808-6/305658115_122787857190249_2732987268130107937_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a26aad&_nc_ohc=4Iyw633KlcMAX-udpSd&_nc_ht=scontent.fgye1-2.fna&oh=00_AfD5dO2W2ciOk8d0VKGjy_DuFoH2Bf7OsIu7ixHouZRZwg&oe=636B229B " alt="me">
      </div>
    </div>
  </main>
  <footer class="footer" >
    <div class="copy">&copy; UDLA Mathias Paredes, Nicolas Hidalgo, Wilian Pepinos</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Home</a>
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Contacto</a>
        <a class="nav-link text-white" asp-area="" asp-controller="Usuarios" asp-action="Index" style="color:white">Nuestra Gente</a>
      </div>
      <div class="links">
        <span>Social Links</span>
                <a href="https://es-la.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/login"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/?hl=es"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>